<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin/mypage.html</title>
</head>
<body>
<div class="wrap">
  <div class="header">
    <h2>마이페이지</h2>
  </div>
  <div class="main">
      <table th:border="1">
          <tr>
              <th>입고 ID</th><th>요청자</th><th>요청일</th><th>상세보기</th>
          </tr>
          <tr th:each="i:${list}">
              <td th:text="${i.getInbound_id()}"></td><td th:text="${i.getUser_id()}"></td>
              <td th:text="${i.getRequest_date()}"></td><td><a th:href="@{/request/select(inbound_id=${i.getInbound_id()})}">상세보기</a></td>
          </tr>
      </table>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>