<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user/mypage.html</title>
</head>
<body>
<div class="wrap">
  <div class="header">
    <h2>마이페이지</h2>
  </div>
  <div class="main">
    <table th:border="1">
      <tr>
        <th colspan="4">입고 요청 목록</th>
      </tr>
      <tr>
        <th>입고 ID</th><th>요청일</th><th>승인 현황</th><th>상세보기</th>
      </tr>
      <tr th:each="i:${list}">
        <td th:text="${i.inbound_id}"><td th:text="${i.request_date}"></td>
        <td th:text="${i.status}"></td>
        <td><a th:href="@{/request/userSelect(inbound_id=${i.inbound_id},user_id=${i.user_id})}">상세보기</a></td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <a th:href="@{/}">메인 페이지로 이동</a>
  </div>
</div>
</body>
</html>