<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>approvalList.html</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="intoLogin">
            <h2>warehouse</h2>
            <div class="loginArea">
                <p th:if="${session.roleMsg != null}" th:text="${session.roleMsg}"></p>
                <ul>
                    <li th:if="${session.webuser_id != null}"><button onclick="logout()">logout</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li th:if="${session.webuser_id != null && session.role_id == 2}"><a th:href="@{/main}">입출고 요청 내역</a></li>
            <li th:if="${session.webuser_id != null && session.role_id == 1}"><a th:href="@{/main}">입출고 요청 승인</a></li>
            <li th:if="${session.webuser_id != null && session.role_id == 1}"><a th:href="@{/webuser/list}">계정 관리</a></li>
            <li th:if="${session.webuser_id != null && session.role_id == 1}"><a th:href="@{/approval/list}">승인 내역</a></li>
        </ul>
    </div>
    <div class="main">
        <table>
            <tr th:each="l:${list}">
                <td th:if="${l.bound_type == 'in'}">
                    <p th:text="|[${l.approval_id}]
                    승인자:${l.approver_id} ${l.bound_type}:
                    ${l.inbound_id}|"></p>
                    <p th:text="${l.approval_status}">
                    </p>
                    <p th:text="${l.created_at}">
                    </p>
                </td>
                <td th:if="${l.bound_type == 'out'}">
                    <p th:text="|${l.approval_id} 승인자:
                    ${l.approver_id} ${l.bound_type}:
                    ${l.outbound_id}|"></p>
                    <p th:text="${l.approval_status}">
                    </p>
                    <p th:text="${l.created_at}">
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>