<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main.html</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="intoLogin">
            <h2>warehouse</h2>
            <div class="loginArea">
            <p th:if="${session.roleMsg != null}" th:text="${session.roleMsg}"></p>
            <ul>
                <li th:if="${session.userid != null}"><button onclick="logout()">logout</button></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li th:if="${session.userid != null && session.userid != 1}"><a th:href="@{/user/mypage(user_id=${session.userid})}">입출고 요청</a></li>
            <li th:if="${session.userid != null && session.userid == 1}"><a th:href="@{/admin/mypage}">입출고 요청</a></li>
        </ul>
    </div>
    <div class="main">
        <div th:if="${user_id == 1}">
            <button onclick="gomain()">전체</button> <button onclick="goinbound()">입고</button> <button onclick="gooutbound()">출고</button>
        </div>
        <div th:if="${user_id == 2}">
            <button>전체</button> <button>입고</button> <button>출고</button>
        </div>
        <table th:if="${user_id == 1}" id="adminTable">
            <tr th:each="l:${list}">
                <td><p th:text="|${l.io_type}(${l.io_id}) 요청자: ${l.user_id}|"></p>
                    <p th:text="|${l.request_date} ${l.status}|"></p>
                    <button th:data-io-type="${l.io_type}" th:data-io-id="${l.io_id}" onclick="godetail(this)">상세보기</button>
                </td>
            </tr>
        </table>
        <table th:if="${user_id == 2}" id="userTable">
            <tr th:each="l:${list}">
                <td><p th:text="|${l.io_type} ${l.status}|"></p>
                    <p th:text="|${l.request_date}|"></p>
                    <button th:data-io-type="${l.io_type}" th:data-io-id="${l.io_id}" onclick="godetail(this)">상세보기</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer"></div>
</div>
</body>
<script>
    function logout(){
        fetch('/logout')
            .then(resp=>resp.text())
            .then(data=>{
                alert(data);
                location.href="/";
            })
    }

    function gomain(){
        location.href="/main";
    }

    function goinbound(){
        const table=document.getElementById("adminTable");
        fetch('/goinbound')
            .then(resp=>resp.json())
            .then(data=>{
                table.innerHTML="";

                data.forEach(l=>{
                    table.innerHTML+=`
                                    <tr>
                                        <td>
                                            <p>${l.inbound_id} 요청자:${l.user_id} ${l.status}</p>
                                            <p>${l.request_date}</p>
                                            <button>상세보기</button>
                                        </td>
                                    </tr>
                                    `
                })
            })
    }

    function gooutbound(){
        const table=document.getElementById("adminTable");
        fetch('/gooutbound')
            .then(resp=>resp.json())
            .then(data=>{
                table.innerHTML="";

                data.forEach(l=>{
                    table.innerHTML+=`
                                    <tr>
                                        <td>
                                            <p>${l.outbound_id} 요청자:${l.user_id} ${l.status}</p>
                                            <p>${l.request_date}</p>
                                            <button>상세보기</button>
                                        </td>
                                    </tr>
                                    `
                })
            })
    }

    function godetail(btn){
        const io_type=btn.dataset.ioType;
        const io_id=btn.dataset.ioId;

        location.href="/request/detail?io_type=" + io_type + "&io_id=" + io_id;
    }
</script>
</html>