<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main.html</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="intoLogin">
            <h2>warehouse</h2>
            <div class="loginArea">
            <p th:if="${session.roleMsg != null}" th:text="${session.roleMsg}"></p>
            <ul>
                <li th:if="${session.webuser_id != null}"><button onclick="logout()">logout</button></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li th:if="${session.webuser_id != null && session.role_id == 2}">입출고 요청</li>
            <li th:if="${session.webuser_id != null && session.role_id == 1}">입출고 요청</li>
        </ul>
    </div>
    <div class="main">
        <div th:if="${role_id == 1}">
            <button onclick="gomain()">전체</button> <button onclick="goinbound()">입고</button> <button onclick="gooutbound()">출고</button>
        </div>
        <div th:if="${role_id == 2}">
            <button onclick="gomain()">전체</button> <button onclick="goinbound2()">입고</button> <button onclick="gooutbound2()">출고</button>
        </div>
        <table th:if="${role_id == 1}" id="adminTable">
            <tr th:each="l:${list}">
                <td><p th:text="|${l.io_type}(${l.io_id}) 요청자: ${l.webuser_id}|"></p>
                    <p th:text="|${l.request_date} ${l.approval_status}|"></p>
                    <a th:if="${l.io_type=='in'}"
                       th:href="@{/request/admin/inbound(inbound_id=${l.io_id})}">
                        상세보기
                    </a>

                    <a th:if="${l.io_type=='out'}"
                       th:href="@{/request/admin/outbound(outbound_id=${l.io_id})}">
                        상세보기
                    </a>

                </td>
            </tr>
        </table>
        <table th:if="${role_id == 2}" id="userTable">
            <tr th:each="l:${list}">
                <td><p th:text="|${l.io_type} ${l.approval_status}|"></p>
                    <p th:text="|${l.request_date}|"></p>
                    <a th:if="${l.io_type=='in'}"
                       th:href="@{/request/user/inbound(inbound_id=${l.io_id})}">
                        상세보기
                    </a>

                    <a th:if="${l.io_type=='out'}"
                       th:href="@{/request/user/outbound(outbound_id=${l.io_id})}">
                        상세보기
                    </a>


                </td>
            </tr>
        </table>
    </div>
    <div class="footer"></div>
</div>
</body>
<script th:inline="javascript">
    function logout(){
        fetch('/logout')
            .then(resp=>resp.text())
            .then(data=>{
                alert(data);
                location.href="/";
            })
    }

    function gomain(){
        location.href="/main";
    }

    function goinbound(){
        const table=document.getElementById("adminTable");
        fetch('/goinbound')
            .then(resp=>resp.json())
            .then(data=>{
                table.innerHTML="";

                data.forEach(l=>{
                    table.innerHTML+=`
                                    <tr>
                                        <td>
                                            <p>${l.inbound_id} 요청자:${l.webuser_id} ${l.approval_status}</p>
                                            <p>${l.request_date}</p>
                                            <a href="/request/admin/inbound?inbound_id=${l.inbound_id}">상세보기</a>
                                        </td>
                                    </tr>
                                    `;
                })
            })
    }

    function goinbound2(){
        const table=document.getElementById("userTable");
        fetch('/goinbound')
            .then(resp=>resp.json())
            .then(data=>{
                table.innerHTML="";

                data.forEach(l=> {
                    table.innerHTML += `
                                    <tr>
                                        <td>
                                            <p>${l.inbound_id} 요청자:${l.webuser_id} ${l.approval_status}</p>
                                            <p>${l.request_date}</p>
                                            <a href="/request/user/inbound?inbound_id=${l.inbound_id}">상세보기</a>
                                        </td>
                                    </tr>
                                    `;
                })
            })
    }

    function gooutbound(){
        const table=document.getElementById("adminTable");
        fetch('/gooutbound')
            .then(resp=>resp.json())
            .then(data=>{
                table.innerHTML="";

                data.forEach(l=>{
                    table.innerHTML+=`
                                    <tr>
                                        <td>
                                            <p>${l.outbound_id} 요청자:${l.webuser_id} ${l.approval_status}</p>
                                            <p>${l.request_date}</p>
                                            <a href="/request/admin/outbound?outbound_id=${l.outbound_id}">상세보기</a>
                                        </td>
                                    </tr>
                                    `;
                })
            })
    }

    function gooutbound2(){
        const table=document.getElementById("userTable");
        fetch('/gooutbound')
            .then(resp=>resp.json())
            .then(data=>{
                table.innerHTML="";

                data.forEach(l=>{
                    table.innerHTML+=`
                                    <tr>
                                        <td>
                                            <p>${l.outbound_id} 요청자:${l.webuser_id} ${l.approval_status}</p>
                                            <p>${l.request_date}</p>
                                            <a href="/request/user/outbound?outbound_id=${l.outbound_id}">상세보기</a>
                                        </td>
                                    </tr>
                                    `;
                })
            })
    }
</script>
</html>